<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<meta name="description" content="Vintec Startup especialista en brindar soluciones para cualquier necesidad en las áreas de desarrollo web, sistemas a medida, redes de comunicación, diseño publicitario y branding."/>
		<meta name="keywords" content="Vintec, Venezolana de Innovaciones Tecnologica, Diseño web, Desarrollo Web, Desarrollo de software, Apps Móviles, Diseño de logos, Banner Publicitario, Tarjeta de presentación, Edición de video"/>
		<meta name="robots" content="Index, Follow"/>
		<meta name="author" content="Vintec"/>
		<title>Portafolio | VINTEC</title>
		<link rel="icon" href="img/favico.png"/>
		<link rel="stylesheet" href="css/styles.min.css"/>
	</head>
	<body>
		<div id="app">
			<header class="cd-auto-hide-header">
				<div class="logo"><a href="index.html"><img src="img/logo.png" alt="Logo"/></a></div>
				<nav class="cd-primary-nav"><a class="nav-trigger" href="#cd-navigation"><span><em aria-hidden="true"></em>Menu</span></a>
					<!-- .nav-trigger-->
					<ul id="cd-navigation">
						<li><a href="index.html">Inicio</a></li>
						<li><a href="quienes-somos.html">Nosotros</a></li>
						<li><a href="servcios.html">Servicios</a></li>
						<li></li>
						<li><a href="portafolio.html">Portafolio</a></li>
					</ul>
				</nav>
			</header>
			<div class="banner-video" data-vide-bg="https://res.cloudinary.com/vintec/video/upload/v1547148903/video/video-portafolio.mp4">
				<div class="overlay"></div>
				<h2 class="title-lg text-white">Nuestro Portafolio</h2>
				<p class="text-normal text-white text-center">Conozca algunos de nuestros trabajos recetes, en Diseño Web, MiniPages, Logos, Edición de Videos para Marketing digital.</p>
			</div>
			<section class="ptb-mx">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="title-lg text-center">Conoce Nuestros trabajos</h2>
							<p class="text-light text-center">Es sin duda la mejor solución para cualquier necesidad informática. Contamos con un excelente equipo de profesionales con más de ocho años de experiencia en el sector.</p>
						</div>
					</div>
				</div>
			</section>
			<div class="skew-c"></div>
			<section class="ptb-mx bg-gray-lg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md">Paginas Web</h2>
							<h4 class="title-sm text-center text-gray">One Page, Multipages, Mini Pages, Landing Page Newsletter.</h4>
						</div>
					</div>
					<div class="row mt-md">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-md" v-for="image in portafolio" v-if="image.type=='webs'"><a data-fancybox="webs" :href="image.url"><img class="img-responsive" :src="image.url"/></a></div>
					</div>
				</div>
			</section>
			<div class="skew-cc"></div>
			<section class="ptb-mx">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md">MiniPages</h2>
							<h4 class="title-sm text-center text-gray">MiniPages Pagina web Sublime</h4>
						</div>
					</div>
					<div class="row mt-md">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-md" v-for="image in portafolio" v-if="image.type=='minipages'"><a data-fancybox="minipages" :href="image.url"><img class="img-responsive" :src="image.url"/></a></div>
					</div>
				</div>
			</section>
			<div class="skew-dark-1"></div>
			<section class="ptb-mx bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md text-primary">Edicion de Videos</h2>
							<h4 class="title-sm text-center text-gray">Edicion de videos para Marketing Digital</h4>
						</div>
					</div>
					<div class="row mt-md">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pt-md" v-for="image in portafolio" v-if="image.type=='video'"><a data-fancybox="Videos" data-width="1000" data-height="650" :href="image.url"><img class="img-responsive" :src="image.img"/></a></div>
					</div>
				</div>
			</section>
			<div class="skew-dark"></div>
			<section class="ptb-mx">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md">Diseño de Logos</h2>
							<h4 class="title-sm text-center text-gray">Logos, Brands, iconos</h4>
						</div>
					</div>
					<div class="owl-carousel owl-theme mt-md" id="brands"><img class="img-responsive" v-for="image in portafolio" v-if="image.type=='logos'" :src="image.url" alt=""/></div>
				</div>
			</section>
			<section class="ptb-mx">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md">Contactos</h2>
							<h4 class="title-sm text-center text-gray">Contactanos por nuestras redes o via Email</h4>
						</div>
					</div>
					<div class="row mt-md center-lg center-xs">
						<div class="col-lg-6">
							<ul class="list-redes">
								<li><a target="_blank" href="https://www.facebook.com/vintec.lab/"><i class="icon-facebook-official"></i></a></li>
								<li><a target="_blank" href="https://twitter.com/vintec_ca"><i class="icon-twitter"></i></a></li>
								<li><a target="_blank" href="https://www.instagram.com/vintec.lab/"><i class="icon-instagram"></i></a></li>
								<li><a target="_blank" href="https://grupo-vintec.slack.com/messages/CF3EH9MEZ/"><i class="icon-slack"></i></a></li>
								<li><a target="_blank" href="https://github.com/vintec-ca"><i class="icon-github"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="row mt-md center-lg center-xs">
						<div class="col-lg-6">
							<ul>
								<li class="list-redes"><a href="mailto:gerencia@vintec.com.ve"><i class="icon-gmail"> </i>
									<p class="text-normal text-gray">gerencia@vintec.com.ve</p></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<p class="text-center">&copy;<span>2019</span>Todos los dereschos reservados por<span>Vintec</span></p>
						</div>
					</div>
				</div>
			</footer>
			<script src="js/bundle.min.js"></script>
		</div>
	</body>
</html>